*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --textTitle: white;
    --textCard: black;
    --shadowTitle:4px 4px 3px rgba(0,0,0,0.6);
    --button:rgb(244, 246, 246);
    --textButton: rgb(52, 73, 94);
    --borderButton: rgb(214, 219, 223);
}

.app{
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app h1{
    color:var(--textTitle);
    text-shadow: var(--shadowTitle);
    text-align: center;
    font-size: 4rem;
    top: 100px;
    position: fixed;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
}


.image{
    width: 100%;
    height:300px;
    position: absolute;
}

.phraseCard{ 
    text-align: center;    
    color: var(--textCard);
    z-index: 10;
    font-size: 25px;
    width: 100%;
}

.button {
    width:8rem;
    height: 4rem;
    border-radius: 12px;
    background-color: var(--button);
    color: var(--textButton);
    font-size: 20px;
    font-weight: bold;
    border-width: 4px;
    border-style: solid;
    border-color: var(--borderButton);
    cursor: pointer;
    position: fixed;
    bottom: 120px
}

.button:hover {
    border-style: dashed;
    opacity: 80%;
}

@media (max-width: 720px){

    .app h1{
     font-size: 2.8rem;
     padding-left: 10px;
     padding-right: 10px;
     top: 120px;
 }
     
     .image{
     padding-left: 10px;
     padding-right: 10px;
     height:320px;
     }
 
     .card{
         max-width: 300px;
         font-size: 5px;
     }
 
     .button{
         bottom: 120px;
         
     }
 
     .phraseCard{ 
         font-size: 18px;
     }
 }

@media (max-width: 320px){

   .app h1{
    font-size: 1.8rem;
    padding-left: 10px;
    padding-right: 10px;
    top:70px;
}
    
    .image{
    padding-left: 10px;
    padding-right: 10px;
    height:320px;
    }

    .card{
        max-width: 250px;
        font-size: 5px;
    }

    .button{
        bottom: 70px;
        height: 2.6rem;
        font-size: 1rem;
        
    }

    .phraseCard{ 
        font-size: 15px;
    }
}
