*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --textTitle: white;
    --textCard: black;
    --shadowTitle:4px 4px 3px rgba(0,0,0,0.6);
    --button:rgb(244, 246, 246);
    --textButton: rgb(52, 73, 94);
    --borderButton: rgb(214, 219, 223);
}

.app{
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app h1{
    color:var(--textTitle);
    text-shadow: var(--shadowTitle);
    text-align: center;
    font-size: 4rem;
    top: 100px;
    position: fixed;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 650px;
}


.image{
    width: 100%;
    height:300px;
    position: absolute;
    
}

.phraseCard{ 
    text-align: center;    
    color: var(--textCard);
    z-index: 10;
    font-size: 25px;
    width: 100%;
}

.button {
    width: 15rem;
    height: 4rem;
    border-radius: 12px;
    background-color: var(--button);
    color: var(--textButton);
    font-size: 20px;
    font-weight: bold;
    border-width: 4px;
    border-style: solid;
    border-color: var(--borderButton);
    cursor: pointer;
    position: fixed;
    bottom: 150px;
}

.button:hover {
    border-style: dashed;
    opacity: 80%;
}

@media (max-width: 700px){

   .app h1{
    font-size: 3rem;
    }

    .phraseCard{ 
        font-size: 20px;
    }
}